<?xml version="1.0" encoding="UTF-8"?>
<theme>
	<formatVersion>7</formatVersion>
	<view name="menu">
		<menuText name="menutitle">
			<fontPath>./fonts/Cabin-Bold.ttf</fontPath>
			<fontSize>0.03</fontSize>
			<color>${c.text}</color>
		</menuText>
		<menuText name="menufooter">
			<fontPath>./fonts/Cabin-Regular.ttf</fontPath>
			<fontSize>0.018</fontSize>
			<color>${c.text}</color>
		</menuText>
		<menuText name="menutext">
			<fontPath>./fonts/Cabin-Regular.ttf</fontPath>
			<fontSize>0.025</fontSize>
			<fontSize tinyScreen="true">0.028</fontSize>
			<fontSize tinyScreen="true" ifSubset="tiny:handheld">0.036</fontSize>
			<color>${c.text}</color>
			<separatorColor>00000000</separatorColor>
			<selectorColor>${c.menuSelector}</selectorColor>
			<selectorColorEnd>${ce.menuSelector}</selectorColorEnd>
			<selectedColor>${c.selected}</selectedColor>
			<selectorGradientType>horizontal</selectorGradientType>
		</menuText>
		<menuTextSmall name="menutextsmall">
			<fontPath>./fonts/CabinCondensed-Regular.ttf</fontPath>
			<fontSize>0.018</fontSize>
			<fontSize tinyScreen="true">0.022</fontSize>
			<fontSize tinyScreen="true" ifSubset="tiny:handheld">0.032</fontSize>
		</menuTextSmall>
		<menuGroup name="menugroup">
			<fontPath>./fonts/Cabin-Bold.ttf</fontPath>
			<fontSize>0.026</fontSize>
			<fontSize tinyScreen="true">0.03</fontSize>
			<fontSize tinyScreen="true" ifSubset="tiny:handheld">0.038</fontSize>
			<color>${c.textHeader}</color>
			<separatorColor>00000000</separatorColor>
			<backgroundColor>00000000</backgroundColor>
			<lineSpacing>2.75</lineSpacing>
		</menuGroup>
		<menuBackground name="menubg">
			<color>${c.menubg}ef</color>
			<cornerSize>32 32</cornerSize>
			<scrollbarColor>${c.scroll}</scrollbarColor>
			<scrollbarCorner>0</scrollbarCorner>
			<scrollbarSize>0.0025</scrollbarSize>
			<scrollbarAlignment>innerright</scrollbarAlignment>
			<roundCorners>0.018</roundCorners>
		</menuBackground>
		<menuIcons name="menuicons">
			<iconKodi>./menu/Kodi.png</iconKodi>
			<iconSystem>./menu/System.png</iconSystem>
			<iconUpdates>./menu/Updates.png</iconUpdates>
			<iconGames>./menu/Games.png</iconGames>
			<iconControllers>./menu/Controllers.png</iconControllers>
			<iconUI>./menu/UI.png</iconUI>
			<iconSound>./menu/Sound.png</iconSound>
			<iconNetwork>./menu/Network.png</iconNetwork>
			<iconScraper>./menu/Scraper.png</iconScraper>
			<iconAdvanced>./menu/Advanced.png</iconAdvanced>
			<iconQuit>./menu/Quit.png</iconQuit>
			<iconRestart>./menu/Restart.png</iconRestart>
			<iconShutdown>./menu/Shutdown.png</iconShutdown>
			<iconFastShutdown>./menu/Fastshutdown.png</iconFastShutdown>
			<iconRetroachievements>./menu/Contest.png</iconRetroachievements>
			<iconManual>./menu/Manual.png</iconManual>
		</menuIcons>
		<menuTextEdit name="menutextedit">
			<inactive>./menutextinput_ninepatch.png</inactive>
			<active>./menu/textinput_ninepatch_active.png</active>
		</menuTextEdit>
		<menuButton name="menubutton">
			<path>./menubutton.png</path>
			<filledPath>./menu/button_filled.png</filledPath>
			<cornerSize>8 8</cornerSize>
		</menuButton>
	</view>
</theme>
